  /*Contenu*/ 
  .qui{
    background-color: #030120;
    background-image: url("../image/aurore/fondaurore.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .sujet{
    display: inline-block;
    width: 40%;
    background-color: #478399;
    border-radius: 20px;
    margin: 2%;
  }
  .projet{
    margin: 2%;
  }
  .projets{
    text-align: center;
  }

  #asso{
    background-color: #380154;
    color: white;
    text-shadow: black 3px 5px 10px;
    box-shadow: #f5a849 0px 0px 10px;
  }
  #asso p{
    padding: 2%;
  }
  #pro{
    background-color: #030120;
    color: white;
    text-shadow: #3f05b3 3px 3px 5px;
    box-shadow: #f5a849 0px 0px 10px;
  }
  #pro p{
    padding: 3%;
  }

  .description{
    color: white;
    background-color: #030120;
    padding-bottom: 3%;
    padding-top: 2%;
  }
  
  .sous-titre {
    background-color: #478399;
    color: white;
    max-width: 20%;
    text-align: center;
    border-radius: 20px;
    margin-left: 39%;
    padding: 1%;
    background-color: #030120;
    color: white;
    box-shadow: #f5a849 0px 0px 10px;
  }
  #passions li{
    background-color: #030120;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: 3%;
    padding: 1.5%;
    font-size: 20px;
    text-shadow: #f5a849 0px 0px 10px;
    box-shadow: #f5a849 0px 0px 10px;
    list-style: none;
  }

  .passions p{
    color: white;
    width: 30%;
    margin-left: 11%;
    margin-right: 5%;
    top: -32px;
    background-color: #380154;
    padding: 3%;
    box-shadow: #f5a849 0px 0px 10px;
    border-radius: 10px;
  }
  .inline{
    display: inline-block;
    align-content: center;
    width: 40%;
    position: relative;
  }
   /*Contenu*/