@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Neucha&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Neucha&family=Roboto:wght@100;400&display=swap');   

#map{
  border-radius: 15px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#cases{
    margin-bottom: 800px;
}

.droitem{
    background-color: #aad8d5;
    width: 40%;
    height: 600px;
    padding: 30px;
    border-radius: 15px;
    float: right;
}
#adresse{
    font-weight: bold;
    margin-top: 10px;
}

.logos{
    display: inline;
    margin-left: 40px;
    text-align: center;
}

.logoo{
    width: 13%;
    margin-top: 10px;
}

.gauchem{
    background-color: #aad8d5;
    width: 40%;
    height: 600px;
    padding: 30px;
    border-radius: 15px;
    text-align: justify;
    float: left;
}

textarea{
    width: 100%;
    height: 400px;
}

