@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

* {
    margin:0;
    padding:0;
}
header {
    max-height:200px;
    background-color: rgb(255, 234, 200);
}

 header li a:hover{
   color: #F4AEA6 ;
 }

li a {
    text-decoration:none;
    color:rgb(250, 156, 170);
    text-shadow: 2px 2px rgba(255, 255, 255, 0.719);
}

ul {
    list-style-type:none;
}
.logo {
    width:30%;
    position:relative;
    left:35%;
    right:35%;
    top:-120px;
}

.menu {
    background-color: rgb(252, 219, 223);
    text-align:center;
    height:100px;
    border-bottom: white 4px solid;
    
}
li {
    height:40px;
}

.menu li {
    padding:30px 80px;
    display: inline-block;
    font-family:'Agbalumo';
    font-size:1.5em;
    
}

.menug {
    float:left;
    
}
.menud {
    float:right;
}

nav li:hover {
    transition: background-color 0.5s;
    background-image:url('public/image/imagesemilie/Motif abstrait rose.png');
    font-weight:bold;
}

nav li a:hover {
    color:white;
    text-shadow:none;
    
}
#autoportrait {
    max-width:600px;
    margin:50px;
    border: 2px white solid;
    border-radius:20px;
    box-shadow:rgba(255, 255, 255, 0.645) 5px 10px;
}

.presentation {
    background-image: url('public/image/imagesemilie/Motif nuages jaune.png');
    background-size: cover;
    border-bottom:white 4px solid;
    padding-bottom:100px;
}

.description {
    font-family:'Agbalumo';
    float:right;
    font-size:1.5em;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px rgba(250, 156, 170, 0.307);
    background : linear-gradient(rgb(255, 223, 228),rgb(255, 207, 211));
    box-shadow:rgba(255, 255, 255, 0.645) 5px 10px;
    border-radius:20px;
    border:2px solid white;
    max-width:42%;
    max-height:30%;
    margin:50px 50px 10px 30px;
    padding:30px;
}
.aime {
    
    font-family:'Agbalumo';
    font-size:1em;
    color:rgb(255, 255, 255);
    border-radius:20px;
    padding:10px;
    height:360px;
    max-width:100%;
}

.aime h3 {
   padding-bottom:20px;
}
#paragraphe {
    margin-top:20px;
}

.fleur {
    max-width:40px;
}

.etoiles {
    height:100px;
}

#equipe, #photoshop, #illustrator, #clipstudio, #anglais {
    font-family:'Agbalumo';
    font-size:1.5em;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px rgba(250, 156, 170, 0.668);
    background : linear-gradient(rgb(255, 199, 204),rgb(255, 176, 188));
    box-shadow:rgba(255, 255, 255, 0.645) 5px 10px;
    border-radius:20px;
    border: white 2px solid;
    margin:30px 30px 100px 30px;
    padding:20px;
    width:12%;
    height:150px;
    text-align:center;
    display:inline-block;
    vertical-align:top;
}

.dessins {
    max-width:500px;
    margin:50px;
}

#creations {
    background-image:url('public/image/imagesemilie/motif abstrait rose.png');
    border-bottom:white 4px solid;
    padding-bottom:100px;
}
#creations h1 {
    font-family:'Agbalumo';
    font-size:2em;
    color:white;
    text-shadow: 2px 2px rgba(250, 156, 170, 0.577);
    background : linear-gradient(rgb(255, 223, 228),rgb(255, 207, 211));
    border:white 4px solid;
    border-radius:50px;
    max-width:20%;
    padding:20px;
    text-align:center;
    margin:auto;
    position:relative;
    top:-50px;
}
.iconefleur {
    color:rgb(250, 156, 170);
    text-shadow: 2px 2px rgba(255, 255, 255, 0.549);
}
.creation {
    font-family:'Agbalumo';
    font-size:1.5em;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px rgba(250, 156, 170, 0.549);
    background : linear-gradient(rgb(255, 223, 228),rgb(255, 207, 211));
    box-shadow:rgba(255, 255, 255, 0.74) 5px 10px;
    border:rgb(255, 255, 255) 2px solid;
    border-radius:20px;
    width:40%;
    display:inline-block;
    vertical-align:top;
    text-align:center;
    margin:70px;
    padding-bottom:20px;
}
.creation span {
    text-align:center;
}
.parcours {
    padding:20px;
    background-image:url('public/image/imagesemilie/fond fleur jaune.png');
    background-size: cover;
    padding-bottom:100px;

}

.parcours h1 {
    font-family:'Agbalumo';
    font-size:2em;
    color:white;
    text-shadow: 2px 2px rgba(250, 156, 170, 0.577);
    border:white 4px solid;
    border-radius:50px;
    background : linear-gradient(rgb(255, 199, 204),rgb(255, 176, 188));
    max-width:20%;
    padding:20px;
    text-align:center;
    margin:auto;
    position:relative;
    top:-70px;
}

.fleche {
    max-height:50px;
    margin-left:50%;
}
.parcours li {
    font-family:'Agbalumo';
    font-size:1.5em;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px rgba(250, 156, 170, 0.668);
    border:rgb(255, 255, 255) 2px solid;
    border-radius:20px;
    box-shadow:rgba(255, 255, 255, 0.645) 5px 10px;
    background : linear-gradient(rgb(255, 199, 204),rgb(255, 176, 188));
    margin:auto;
    margin-bottom:50px;
    padding:20px;
    padding-top:30px;
    max-width:60%;
    text-align:center;
}
.date {
    font-family:'Agbalumo';
    font-size:1.5em;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px rgba(250, 156, 170, 0.307);
    border:rgb(255, 255, 255) solid 2px;
    border-radius:20px;
    background-color:rgba(255, 176, 188, 0.579);
    margin:20%;
    padding:10px;
}

.logoreseau {
    height:50px;
    max-width:100px;
}
footer {
    font-family:'Agbalumo';
    font-size:1.2em;
    color:white;
    text-shadow: 2px 2px rgba(250, 156, 170, 0.307);
    background-color:rgb(255, 176, 188);
    padding:50px;
}

footer span {
    margin:50px;
}