@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Neucha&family=Roboto:wght@100;400&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
  max-width: 100%;
  max-height: 100%;
}
main {
  max-width: 100%;
  max-height: 100%;
}
.texte {
text-align: center;
}

body {
    background-color: #C3E3E1;
}
.moi {
  margin-top: 5%;
  width: 80%;
}
.quest {
  text-align: center;
}
.reponse {
  text-align: center;
}

.quest {
  margin: 2%;
}

.presentation {
  height: px;
  width: 80%;
}

.img {
  margin-left: 40%;
  margin-top: 5%;
}
#fin {
  margin-bottom: 5%;
}
