  body {
  background-image: url('../image/ieletmoifond2.svg') ;
  background-size: cover;
  background-repeat: repeat-y;
  }

  h1 {
    text-align: center;
    font-family: 'Neucha';
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: white;
    color:  #478399;

  }
  
  .carte {
    margin-left: 6%;
    display: inline-block;
    text-align: center;
  }
  
  main {
    inset-inline-start: 1%;
    list-style: none;
  }
  
  .equipe li{
    display: inline-block;
  }
  
  .equipe {
    display: inline-block;
    align-content: center;
  }
  
  .carte img {
    border-style: dashed;
    border-color: #ff9797;
    border-radius: 45%;
    height: 300px;
  }
  
  p {
    margin: 20px;
    font-size: 2rem;
  }
  
  .nom{
    margin-left: 50px;
    font-size: 2rem;
    background-color: white;
    border-radius: 10px;
    padding: 5%;
  }